.emailList
{position: sticky;
    flex:1;
    /* overflow:scroll; */
    width: 1300px;
    padding-left: 10px;
}
.emailListSetting
{
    position: sticky;   
    top: 0;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid whitesmoke; */
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}
.emailListSection{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index :999;
}
.emailListList{
    padding-bottom: 20%;
}