.header{
    display: flex;
    border-bottom: 2px solid whitesmoke;
    align-items: center;
    justify-content: space-between;
}
.headerLeft
{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.headerLeft >img{
    object-fit: contain;
    height:40px !important;
    margin-left: 10px;
    align-items: center;
    padding-top:10px ;
    padding-bottom:10px ;
}
.headerLeft> img:hover{
    cursor: pointer;
}
.headerMiddle
{
    display: flex;
    flex: 0.7;
    background-color: whitesmoke;
    border-radius: 8px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 0px;
    /* width: 800px; */
}
.headerMiddle > input{
    height: 30px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    text-decoration: none;
    /* outline-width: none; */
    font-size: medium;
}
.headerMiddle > .MuiSvgIcon-root{
    color: gray;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
}
.headerRight{
    display: flex;
    padding-right: 10px;
}